openapi: 3.0.0
info:
  title: V1 AMS Report API
  description: |
    RESTful API access to a resource that provides AMS reports delivered via the cloud that have historically been supplied through the AMS web portal. Any requests made to this endpoint must be authorized as normal and also include a token indicating successful user impersonation.
    <br/>
    <h1>Version Control Scheme</h1>
    <p>Versions will be relatively static, when breaking/logic changes occur a 
    new version will be created.</p>
    <hr/>
    <h1>Revision Log:</h1>
    <ul>
    <li>2022-11-14 - KAS - Brand new. Cloned from Warehouse code_info resource.</li>
    </ul>
  contact:
    name: Helpdesk API Support
    email: apisupport@amssoftware.com
    url: 'https://www.amssoftware.com'
  license:
    name: License Required
    url: 'http://www.amssoftware.com'
  version: '2022-11-14'
servers:
  - description: Development Server
    url: 'https://thor2012-whse.amscloudconnect.amssoftware.com/api'
security:
  - AMSBearerAuth: []
  - AMSImpersonationAuth: []
tags:
  - name: AMSReportGET
    description: GETs to the API resource that provide AMS Reports delivered via the cloud.
paths:
  /files/v1/ams_report:
    get:
      operationId: getAMSReport
      tags:
        - AMSReportGET
      summary: Obtains an AMS report
      description: When a GET is issued to the ams_report endpoint a reporting job request is dispatched and the resulting report is delivered to a cloud URL that is provided as a component of the JSON return from this endpoint.
      parameters:
        - name: menu_option
          in: query
          description: This parameter represents the menu option that returns the requested AMS report. These available values can be obtained from the related ams_report_menu endpoint.
          required: true
          schema:
            type: string
        - name: saved_parm
          in: query
          description: This parameter represents the saved job parameters that will be used when requesting the AMS report. These values are specific to a menu option and can be obtained from the related ams_report_menu endpoint.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Ok - The GET against the ams_report resource was successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ams_api_response:
                    type: object
                    properties:
                      error_state:
                        type: boolean
                        example: false
                      endpoint_response:
                        type: object
                        properties:
                          ams_report:
                            type: object
                            properties:
                              report_status:
                                type: string
                                enum:
                                  - Job Stream Success
                                  - Infra Failure
                                  - AMS Program Failure
                                maxLength: 19
                                example: Job Stream Success
                              report_url:
                                type: string
                                maxLength: 512
                                example: 'https://amsserverthor.blob.core.windows.net/whse/filedelivery/9d179ac8-ebdb-4b50-a123-4ca04b84283d.pdf'
        '400':
          description: The query parameters used in the query of the ams_report endpoint were invalid.
          content:
            application/json:
              schema:
                title: Bad Request - Invalid Query Parameters Response
                x-tags:
                  - FailureResponse
                type: object
                properties:
                  ams_api_response:
                    type: object
                    properties:
                      error_state:
                        type: boolean
                        example: true
                      error_msg:
                        title: HandlerHttpErrorMessage
                        x-tags:
                          - Message
                        type: string
                        example: The API handler indicated an error condition via the HTTP return code.
                      endpoint_response:
                        type: object
                        properties:
                          potential_query_parameters:
                            title: PotentialQueryParms
                            type: array
                            minItems: 1
                            items:
                              anyOf:
                                - title: QueryParm1Object
                                  type: object
                                  properties:
                                    parameter_name:
                                      type: string
                                      example: FIXED_STRING_PARM
                                    parameter_type:
                                      type: string
                                      example: 'Standard parameter (fixed values, see further messaging in the parameter_notes)'
                                    parameter_notes:
                                      type: string
                                      example: This fixed string parm represents a parameter that must have one of a discrete number of possible values. This message will contain information about the possible values.
                                - title: QueryParm2Object
                                  type: object
                                  properties:
                                    parameter_name:
                                      type: string
                                      example: STRING_SEARCH_PARM
                                    parameter_type:
                                      type: string
                                      example: String search parameter (generally contains type text search)
                                    parameter_notes:
                                      type: string
                                      example: 'This string_search_parm represents a parameter the will use some form of text matching to limit results. Generally, the text search methodology will be of the contains type, however, the returned notes will specify the type of search methodology.'
                                - title: QueryParm3Object
                                  type: object
                                  properties:
                                    parameter_name:
                                      type: string
                                      example: NUMERIC_PARM
                                    parameter_type:
                                      type: string
                                      example: Numeric parameter
                                    parameter_notes:
                                      type: string
                                      example: This numeric_parm represents a parameter that will be compared to some numeric property of an API resource. There are three formats form numeric values and each indicates a different type of numeric comparison. >999 represents a greater than search. <999 represents a less than search. 999-1000 represents an inclusive range search.
                                - title: QueryParm4Object
                                  type: object
                                  properties:
                                    parameter_name:
                                      type: string
                                      example: DATE_PARM
                                    parameter_type:
                                      type: string
                                      example: Date parameter
                                    parameter_notes:
                                      type: string
                                      example: This date_parm represents a parameter that will be compared to some date property of an API resource. There are three formats form date values and each indicates a different type of date comparison. >MMDDYY represents a greater than date search. <MMDDYY represents a less than date search. MMDDYY-MMDDYY represents an inclusive date range search.
        '401':
          description: The authorization GUID used in the request was invalid/expired or the authorization header itself was missing.
          content:
            application/json:
              schema:
                title: Unauthorized - Invalid/Missing Authorization GUID Response
                x-tags:
                  - FailureResponse
                type: object
                properties:
                  ams_api_response:
                    type: object
                    properties:
                      error_state:
                        type: boolean
                        example: true
                      error_msg:
                        type: string
                        example: Invalid authorization GUID.
        '403':
          description: The API User does not have access to the requested resource.
          content:
            application/json:
              schema:
                title: Forbidden - Access Not Permitted Response
                x-tags:
                  - FailureResponse
                type: object
                properties:
                  ams_api_response:
                    type: object
                    required:
                      - error_state
                      - error_msg
                    properties:
                      error_state:
                        type: boolean
                        example: true
                      error_msg:
                        oneOf:
                          - title: HandlerHttpErrorMessage
                            x-tags:
                              - Message
                            type: string
                            example: The API handler indicated an error condition via the HTTP return code.
                          - title: InvalidImpersonationGuidMessage
                            x-tags:
                              - Message
                            type: string
                            example: Invalid Impersonation Guid
                      endpoint_response:
                        type: object
                        properties:
                          error_msg:
                            oneOf:
                              - title: NoApiAccessMessage
                                x-tags:
                                  - Message
                                type: string
                                example: User does not have access to the called method on the called resource.
                              - title: AmsUserImpersonationFailureMessage
                                x-tags:
                                  - Message
                                type: string
                                example: User does not have access to the GET method on the dtc_orders API resource
                              - title: DtcCustImpersonationFailureMessage
                                x-tags:
                                  - Message
                                type: string
                                example: 'When impersonating a DTC customer, only actions on that customer are allowed'
        '404':
          description: The requested API resource does not exist.
          content:
            application/json:
              schema:
                title: Not Found - Resource Does Not Exist Response
                x-tags:
                  - FailureResponse
                type: object
                properties:
                  ams_api_response:
                    type: object
                    properties:
                      error_state:
                        type: boolean
                        example: true
                      error_msg:
                        title: HandlerHttpErrorMessage
                        x-tags:
                          - Message
                        type: string
                        example: The API handler indicated an error condition via the HTTP return code.
                      endpoint_response:
                        type: object
                        properties:
                          error_msg:
                            title: ResourceNotFoundMessage
                            x-tags:
                              - Message
                            type: string
                            example: API resource with provided ID not found.
components:
  securitySchemes:
    AMSBearerAuth:
      type: http
      scheme: bearer
    AMSImpersonationAuth:
      type: apiKey
      in: header
      name: Impersonation-Token
  parameters:
    MenuOptionParm:
      name: menu_option
      in: query
      description: This parameter represents the menu option that returns the requested AMS report. These available values can be obtained from the related ams_report_menu endpoint.
      required: true
      schema:
        type: string
    SavedParmParm:
      name: saved_parm
      in: query
      description: This parameter represents the saved job parameters that will be used when requesting the AMS report. These values are specific to a menu option and can be obtained from the related ams_report_menu endpoint.
      required: false
      schema:
        type: string
  responses:
    200SuccessfulV1AMSReportGet:
      description: Ok - The GET against the ams_report resource was successful.
      content:
        application/json:
          schema:
            type: object
            properties:
              ams_api_response:
                type: object
                properties:
                  error_state:
                    type: boolean
                    example: false
                  endpoint_response:
                    type: object
                    properties:
                      ams_report:
                        type: object
                        properties:
                          report_status:
                            type: string
                            enum:
                              - Job Stream Success
                              - Infra Failure
                              - AMS Program Failure
                            maxLength: 19
                            example: Job Stream Success
                          report_url:
                            type: string
                            maxLength: 512
                            example: 'https://amsserverthor.blob.core.windows.net/whse/filedelivery/9d179ac8-ebdb-4b50-a123-4ca04b84283d.pdf'
    400BadParmsGetResponse:
      description: The query parameters used in the query of the ams_report endpoint were invalid.
      content:
        application/json:
          schema:
            title: Bad Request - Invalid Query Parameters Response
            x-tags:
              - FailureResponse
            type: object
            properties:
              ams_api_response:
                type: object
                properties:
                  error_state:
                    type: boolean
                    example: true
                  error_msg:
                    title: HandlerHttpErrorMessage
                    x-tags:
                      - Message
                    type: string
                    example: The API handler indicated an error condition via the HTTP return code.
                  endpoint_response:
                    type: object
                    properties:
                      potential_query_parameters:
                        title: PotentialQueryParms
                        type: array
                        minItems: 1
                        items:
                          anyOf:
                            - title: QueryParm1Object
                              type: object
                              properties:
                                parameter_name:
                                  type: string
                                  example: FIXED_STRING_PARM
                                parameter_type:
                                  type: string
                                  example: 'Standard parameter (fixed values, see further messaging in the parameter_notes)'
                                parameter_notes:
                                  type: string
                                  example: This fixed string parm represents a parameter that must have one of a discrete number of possible values. This message will contain information about the possible values.
                            - title: QueryParm2Object
                              type: object
                              properties:
                                parameter_name:
                                  type: string
                                  example: STRING_SEARCH_PARM
                                parameter_type:
                                  type: string
                                  example: String search parameter (generally contains type text search)
                                parameter_notes:
                                  type: string
                                  example: 'This string_search_parm represents a parameter the will use some form of text matching to limit results. Generally, the text search methodology will be of the contains type, however, the returned notes will specify the type of search methodology.'
                            - title: QueryParm3Object
                              type: object
                              properties:
                                parameter_name:
                                  type: string
                                  example: NUMERIC_PARM
                                parameter_type:
                                  type: string
                                  example: Numeric parameter
                                parameter_notes:
                                  type: string
                                  example: This numeric_parm represents a parameter that will be compared to some numeric property of an API resource. There are three formats form numeric values and each indicates a different type of numeric comparison. >999 represents a greater than search. <999 represents a less than search. 999-1000 represents an inclusive range search.
                            - title: QueryParm4Object
                              type: object
                              properties:
                                parameter_name:
                                  type: string
                                  example: DATE_PARM
                                parameter_type:
                                  type: string
                                  example: Date parameter
                                parameter_notes:
                                  type: string
                                  example: This date_parm represents a parameter that will be compared to some date property of an API resource. There are three formats form date values and each indicates a different type of date comparison. >MMDDYY represents a greater than date search. <MMDDYY represents a less than date search. MMDDYY-MMDDYY represents an inclusive date range search.
    401UnauthorizedResponse:
      description: The authorization GUID used in the request was invalid/expired or the authorization header itself was missing.
      content:
        application/json:
          schema:
            title: Unauthorized - Invalid/Missing Authorization GUID Response
            x-tags:
              - FailureResponse
            type: object
            properties:
              ams_api_response:
                type: object
                properties:
                  error_state:
                    type: boolean
                    example: true
                  error_msg:
                    type: string
                    example: Invalid authorization GUID.
    403ForbiddenResponse:
      description: The API User does not have access to the requested resource.
      content:
        application/json:
          schema:
            title: Forbidden - Access Not Permitted Response
            x-tags:
              - FailureResponse
            type: object
            properties:
              ams_api_response:
                type: object
                required:
                  - error_state
                  - error_msg
                properties:
                  error_state:
                    type: boolean
                    example: true
                  error_msg:
                    oneOf:
                      - title: HandlerHttpErrorMessage
                        x-tags:
                          - Message
                        type: string
                        example: The API handler indicated an error condition via the HTTP return code.
                      - title: InvalidImpersonationGuidMessage
                        x-tags:
                          - Message
                        type: string
                        example: Invalid Impersonation Guid
                  endpoint_response:
                    type: object
                    properties:
                      error_msg:
                        oneOf:
                          - title: NoApiAccessMessage
                            x-tags:
                              - Message
                            type: string
                            example: User does not have access to the called method on the called resource.
                          - title: AmsUserImpersonationFailureMessage
                            x-tags:
                              - Message
                            type: string
                            example: User does not have access to the GET method on the dtc_orders API resource
                          - title: DtcCustImpersonationFailureMessage
                            x-tags:
                              - Message
                            type: string
                            example: 'When impersonating a DTC customer, only actions on that customer are allowed'
    404NotFoundResponse:
      description: The requested API resource does not exist.
      content:
        application/json:
          schema:
            title: Not Found - Resource Does Not Exist Response
            x-tags:
              - FailureResponse
            type: object
            properties:
              ams_api_response:
                type: object
                properties:
                  error_state:
                    type: boolean
                    example: true
                  error_msg:
                    title: HandlerHttpErrorMessage
                    x-tags:
                      - Message
                    type: string
                    example: The API handler indicated an error condition via the HTTP return code.
                  endpoint_response:
                    type: object
                    properties:
                      error_msg:
                        title: ResourceNotFoundMessage
                        x-tags:
                          - Message
                        type: string
                        example: API resource with provided ID not found.
