openapi: 3.0.0
info:
  title: V1 AMS Report Menu API
  description: |
    RESTful API access to a resource that provides the available AMS Report options for a given account and user. Any use of this endpoint must be authorized as normal and also include a valid user impersonation token.
    <br/>
    <h1>Version Control Scheme</h1>
    <p>Versions will be relatively static, when breaking/logic changes occur a 
    new version will be created.</p>
    <hr/>
    <h1>Revision Log:</h1>
    <ul>
    <li>2022-11-14 - KAS - Brand new. Cloned from ams_report resource.</li>
    </ul>
  contact:
    name: Helpdesk API Support
    email: apisupport@amssoftware.com
    url: 'https://www.amssoftware.com'
  license:
    name: License Required
    url: 'http://www.amssoftware.com'
  version: '2022-11-14'
servers:
  - description: Development Server
    url: 'https://thor2012-whse.amscloudconnect.amssoftware.com/api'
security:
  - AMSBearerAuth: []
  - AMSImpersonationAuth: []
tags:
  - name: AMSReportMenuGET
    description: GETs to the API resource that provide available AMS report options.
paths:
  /files/v1/ams_report:
    get:
      operationId: getAMSReportMenu
      tags:
        - AMSReportMenuGET
      summary: Obtains a list of available AMS report options
      description: 'When a GET is issued to the ams_report_menu endpoint, a list is provided of available AMS report options for the given account and user being impersonated'
      responses:
        '200':
          description: Ok - The GET against the ams_report_menu resource was successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ams_api_response:
                    type: object
                    properties:
                      error_state:
                        type: boolean
                        example: false
                      endpoint_response:
                        type: object
                        properties:
                          ams_report_menu:
                            type: object
                            properties:
                              available_options:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    report_desc:
                                      type: string
                                      maxLength: 128
                                      example: Inventory status by location and part
                                    report_menu_proc:
                                      type: string
                                      maxLength: 10
                                      example: INISM.SSS
                                    report_saved_parm:
                                      type: string
                                      maxLength: 8
                                      example: WEB010
        '401':
          description: The authorization GUID used in the request was invalid/expired or the authorization header itself was missing.
          content:
            application/json:
              schema:
                title: Unauthorized - Invalid/Missing Authorization GUID Response
                x-tags:
                  - FailureResponse
                type: object
                properties:
                  ams_api_response:
                    type: object
                    properties:
                      error_state:
                        type: boolean
                        example: true
                      error_msg:
                        type: string
                        example: Invalid authorization GUID.
        '403':
          description: The API User does not have access to the requested resource.
          content:
            application/json:
              schema:
                title: Forbidden - Access Not Permitted Response
                x-tags:
                  - FailureResponse
                type: object
                properties:
                  ams_api_response:
                    type: object
                    required:
                      - error_state
                      - error_msg
                    properties:
                      error_state:
                        type: boolean
                        example: true
                      error_msg:
                        oneOf:
                          - title: HandlerHttpErrorMessage
                            x-tags:
                              - Message
                            type: string
                            example: The API handler indicated an error condition via the HTTP return code.
                          - title: InvalidImpersonationGuidMessage
                            x-tags:
                              - Message
                            type: string
                            example: Invalid Impersonation Guid
                      endpoint_response:
                        type: object
                        properties:
                          error_msg:
                            oneOf:
                              - title: NoApiAccessMessage
                                x-tags:
                                  - Message
                                type: string
                                example: User does not have access to the called method on the called resource.
                              - title: AmsUserImpersonationFailureMessage
                                x-tags:
                                  - Message
                                type: string
                                example: User does not have access to the GET method on the dtc_orders API resource
                              - title: DtcCustImpersonationFailureMessage
                                x-tags:
                                  - Message
                                type: string
                                example: 'When impersonating a DTC customer, only actions on that customer are allowed'
        '404':
          description: The requested API resource does not exist.
          content:
            application/json:
              schema:
                title: Not Found - Resource Does Not Exist Response
                x-tags:
                  - FailureResponse
                type: object
                properties:
                  ams_api_response:
                    type: object
                    properties:
                      error_state:
                        type: boolean
                        example: true
                      error_msg:
                        title: HandlerHttpErrorMessage
                        x-tags:
                          - Message
                        type: string
                        example: The API handler indicated an error condition via the HTTP return code.
                      endpoint_response:
                        type: object
                        properties:
                          error_msg:
                            title: ResourceNotFoundMessage
                            x-tags:
                              - Message
                            type: string
                            example: API resource with provided ID not found.
components:
  securitySchemes:
    AMSBearerAuth:
      type: http
      scheme: bearer
    AMSImpersonationAuth:
      type: apiKey
      in: header
      name: Impersonation-Token
  responses:
    200SuccessfulV1AMSReportMenuGet:
      description: Ok - The GET against the ams_report_menu resource was successful.
      content:
        application/json:
          schema:
            type: object
            properties:
              ams_api_response:
                type: object
                properties:
                  error_state:
                    type: boolean
                    example: false
                  endpoint_response:
                    type: object
                    properties:
                      ams_report_menu:
                        type: object
                        properties:
                          available_options:
                            type: array
                            items:
                              type: object
                              properties:
                                report_desc:
                                  type: string
                                  maxLength: 128
                                  example: Inventory status by location and part
                                report_menu_proc:
                                  type: string
                                  maxLength: 10
                                  example: INISM.SSS
                                report_saved_parm:
                                  type: string
                                  maxLength: 8
                                  example: WEB010
    401UnauthorizedResponse:
      description: The authorization GUID used in the request was invalid/expired or the authorization header itself was missing.
      content:
        application/json:
          schema:
            title: Unauthorized - Invalid/Missing Authorization GUID Response
            x-tags:
              - FailureResponse
            type: object
            properties:
              ams_api_response:
                type: object
                properties:
                  error_state:
                    type: boolean
                    example: true
                  error_msg:
                    type: string
                    example: Invalid authorization GUID.
    403ForbiddenResponse:
      description: The API User does not have access to the requested resource.
      content:
        application/json:
          schema:
            title: Forbidden - Access Not Permitted Response
            x-tags:
              - FailureResponse
            type: object
            properties:
              ams_api_response:
                type: object
                required:
                  - error_state
                  - error_msg
                properties:
                  error_state:
                    type: boolean
                    example: true
                  error_msg:
                    oneOf:
                      - title: HandlerHttpErrorMessage
                        x-tags:
                          - Message
                        type: string
                        example: The API handler indicated an error condition via the HTTP return code.
                      - title: InvalidImpersonationGuidMessage
                        x-tags:
                          - Message
                        type: string
                        example: Invalid Impersonation Guid
                  endpoint_response:
                    type: object
                    properties:
                      error_msg:
                        oneOf:
                          - title: NoApiAccessMessage
                            x-tags:
                              - Message
                            type: string
                            example: User does not have access to the called method on the called resource.
                          - title: AmsUserImpersonationFailureMessage
                            x-tags:
                              - Message
                            type: string
                            example: User does not have access to the GET method on the dtc_orders API resource
                          - title: DtcCustImpersonationFailureMessage
                            x-tags:
                              - Message
                            type: string
                            example: 'When impersonating a DTC customer, only actions on that customer are allowed'
    404NotFoundResponse:
      description: The requested API resource does not exist.
      content:
        application/json:
          schema:
            title: Not Found - Resource Does Not Exist Response
            x-tags:
              - FailureResponse
            type: object
            properties:
              ams_api_response:
                type: object
                properties:
                  error_state:
                    type: boolean
                    example: true
                  error_msg:
                    title: HandlerHttpErrorMessage
                    x-tags:
                      - Message
                    type: string
                    example: The API handler indicated an error condition via the HTTP return code.
                  endpoint_response:
                    type: object
                    properties:
                      error_msg:
                        title: ResourceNotFoundMessage
                        x-tags:
                          - Message
                        type: string
                        example: API resource with provided ID not found.
